/* Elementos principais */
main {
    height: calc(100vh - 4rem);
    overflow-y: auto;
    padding-bottom: 1rem;
    box-sizing: border-box;
}

main.sem-footer {
    height: 100vh;
    padding-bottom: 0;
    overflow-y: auto;
}

footer {
    display: flex;
    position: fixed;
    height: 4rem;
    width: 100%;
    bottom: 0;
    background-color: white;
}

footer ul {
    display: flex;
    flex-direction: row;
    padding: 0.5rem 0.5rem 1rem 0.5rem;
    justify-content: space-between;
    border-top: 0.1875rem solid black;
    width: 100%;
}

/* Texto */
h1 {
    font-family: "Cabin", serif;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    margin-top: 1rem;
}

h1.smaller-h1 {
    font-size: 2rem;
}

h1.texto-fixo {
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
}

h2 {
    font-family: "Cabin", serif;
    font-size: 2rem;
    padding: 0.5rem;
}

h2.vermelho {
    background-color: transparent;
    color: hsl(5, 89%, 54%);
}

h3,
label,
input {
    font-family: "Source Serif 4", serif;
    font-size: 1rem;
    font-style: normal;
}

/* Formulários */
form {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
}

form.elemento-centralizado {
    flex-direction: column;
    flex-grow: 1;
    max-width: 25rem;
    width: 100%;
}

form.novo-lembrete {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* centraliza os botões */
    gap: 0.625rem;
    /* adiciona um espaço entre os botões */
}


input {
    padding: 1rem;
    font-size: 1.5rem;
}

input.concluir-novo-lembrete {
    margin: 0.5rem 2rem 0 2rem;
    border-radius: 1.25rem;
}

input.input-habito {
    border: none;
}

input[type="submit"] {
    cursor: pointer;
    font-size: 1.5rem;
}

input[type="time"] {
    border-radius: 0.625rem;
    padding: 1rem;
    max-width: 12.5rem;
    margin: 1rem auto;
}

input[type="text"],
input[type="password"] {
    border-radius: 0.625rem;
    padding: 1rem;
    margin: 1rem;
}

input[type="text"]::placeholder {
    color: hsl(0, 0%, 40%);
}

input.botao-mais {
    font-size: 1.5rem;
    padding: 0.625rem 1.25rem;
    border-radius: 0.625rem;
    position: fixed;
    bottom: 5rem;
    right: 1rem;
}

input::placeholder {
    font-size: 1.5rem;
}

/* Botões e links */
.finalizar-sessao {
    border: 0.125rem solid black;
    padding: 0.2rem;
    border-radius: 0.625rem;
}

.botao-confirmar {
    padding: 0.8rem 1rem;
    min-width: 3.125rem;
    max-width: 35vw;
    border-radius: 0.9375rem;
    font-size: 1rem !important;
    color: white;
    font-weight: bold;
}

.botao-confirmar-novo-habito {
    padding: 0.8rem 1rem;
    margin: 1rem 25vw;
    min-width: 7rem;
    max-width: 50vw;
    border-radius: 0.9375rem;
    font-size: 1rem !important;
    color: white;
    font-weight: bold;
}

.search-field {
    flex: 1;
    min-width: 9.375rem;
    max-width: 70vw;
    padding: 0.5rem;
    margin-right: 1rem;
    border-radius: 0.9375rem;
}

input.search-field::placeholder {
    font-size: 1rem;
}

.search-top {
    margin-bottom: 2rem;
}

.voltar-tela {
    border: 0.125rem solid black;
    padding: 0.5rem;
    border-radius: 0.625rem;
    background-color: hsl(214, 41%, 46%);
    margin: 1rem;
}

.botao-quadrado {
    margin: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    cursor: pointer;
    color: white;
    font-weight: bold;
}

a {
    color: black;
}

a.lembrete {
    border: 0.0625rem solid black;
    border-radius: 0.625rem;
    padding: 0.5rem;
    margin: 1rem;
    width: 6.25rem;
    margin: 0 auto;
}

a.azul {
    background-color: transparent;
    color: hsl(214, 41%, 46%);
}

a.botao-seu-diario {
    background-color: hsl(214, 41%, 46%);
    border: 0.125rem solid black;
    border-radius: 0.625rem;
    width: 12.5rem;
    padding: 0.5rem;
    margin: 0 auto;
    font-size: 2rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

/* Layout */
.linha {
    display: flex;
    flex-direction: row;
}

.coluna {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.itens {
    padding: 0.5rem 0.5rem 1rem 0.5rem;
    justify-content: space-between;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.espalhadoh {
    display: flex;
    justify-content: space-between;
}

.espalhar {
    justify-content: space-evenly;
}

.left {
    justify-content: flex-start;
}

.hcenter {
    align-items: center;
}

.seu-perfil {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12.5rem;
    height: 3.125rem;
    margin: 1.25rem auto;
    font-size: 1.5rem;
    border-radius: 0.625rem;
    text-align: center;
    border: 0.125rem solid black;
    background-color: hsl(214, 41%, 46%);
    text-decoration: none;
}

h3.seu-habito {
    margin: 1rem;
    padding: 1rem;
    border-radius: 0.625rem;
}

a.seu-habito {
    background-color: hsl(214, 41%, 46%);
    border: 0.0625rem solid black;
    margin: 1rem;
    padding: 1rem;
    border-radius: 0.625rem;
}

.pontuacao {
    max-width: 8.125rem;
    margin: 0 auto 1rem auto;
    padding: 0.5rem;
    border-radius: 0.625rem;
}

.experiencia {
    padding: 0.5rem;
    margin: 1rem;
    margin-top: 0;
    width: 100%;
    min-height: 2rem;
    resize: vertical;
    color: black;
    font-size: 1rem;
    border-radius: 0.625rem;
}

textarea::placeholder {
    font-size: 1rem;
    color: rgb(54, 54, 54);
}

/* Listas */
.days-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.non-selected-day {
    padding: 0.2rem;
    margin: 0.3rem 0;
    width: 9.375rem;
    text-align: center;
}

.selected-day {
    padding: 0.2rem;
    margin: 0.175rem 0;
    width: 9.375rem;
    text-align: center;
    border: 0.125rem solid black;
    border-radius: 0.625rem;
}

.linha-amigos {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.625rem;
    padding-left: 1rem;
}

:root {
    counter-reset: ranking;
}

.usuario-ranking {
    padding: 1.5rem;
    counter-increment: ranking;
}

.usuario-ranking:nth-child(-n+3) {
    font-weight: bold;
}

.usuario-ranking::before {
    content: counter(ranking) ") ";
}

/* Margens */
.margin {
    margin: 1rem;
}

.margin2 {
    margin: 2rem;
}

.margin-cheia {
    width: 95%;
    border-width: 0.125rem;
}

.margintop {
    margin-top: 3rem;
}

.margintop2 {
    margin-top: 0.5rem;
}

.marginl {
    margin-left: 2rem;
}

/* Cores e temas */
.azul {
    background-color: hsl(214, 41%, 46%);
}

.icone-azul {
    filter: invert(27%) sepia(5%) saturate(2939%) hue-rotate(176deg) brightness(91%) contrast(88%);
}

.vermelho {
    background-color: hsl(5, 89%, 54%);
}

.icone-vermelho {
    filter: invert(39%) sepia(93%) saturate(7538%) hue-rotate(356deg) brightness(97%) contrast(106%);
}

.cinza {
    border: 0.0625rem solid black;
    background-color: rgb(200, 200, 200);
}

/* Outros */

.half-screen {
    width: 50%;
}

.img64 {
    width: 4rem;
    height: 4rem;
}

.img32 {
    width: 2rem;
    height: 2rem;
}

.img24 {
    width: 1.5rem;
    height: 1.5rem;
    margin: 1rem;
}

.img128 {
    width: 8rem;
    height: 8rem;
}

.perfil-amigo {
    margin-left: 1rem;
    margin-bottom: 1rem;
    padding: 0;

}

img.perfil-amigo {
    margin-top: 2rem;
}

.right-margin {
    border-right: 0.2rem;
    border-style: solid;
}

.senha-esquecida {
    display: block;
    width: 100%;
    font-size: 1rem;
    text-align: left;
    margin: -0.5rem 0 1rem 2rem;
    text-decoration: none;
}


.novohabito2 {
    font-size: 3rem;
}

ul.habito-1 {
    margin-top: 2rem;
}

ul.habito-1 li {
    margin: 1rem;
}

.info-habito {
    font-size: 1.5rem;
    padding: 0.5rem 0rem;
}

ul.habito {
    border-radius: 0.625rem;
    border: 0.0625rem solid black;
    display: flex;
    justify-content: space-between;
}

.botao-habito {
    display: block;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.novo-habito {
    border-radius: 0.625rem;
}

p.horario-lembrete {
    margin: 0.2rem;
    padding: 0.5rem;
    font-size: 1.5rem;
    border: 0.125rem solid white;
}

p.selecionado {
    border: 0.125rem solid black;
    padding: 0.5rem;
    border-radius: 0.625rem;
}